<% provide :page_header do %>
  <h1><span class="fa fa-archive" aria-hidden="true"></span> <%= t('hyrax_archivematica.dashboard.work.title')%> <%= @work[:title].first %></h1>
  <div class="pull-right">
    <%= link_to new_work_archive_path, class: 'btn btn-primary' do %>
      <span class="fa fa-lock" aria-hidden="true"></span> <%= t(:'helpers.action.archive.archive_item') %>
    <% end %>
  </div>
<% end %>


<div class="panel panel-default">
  <div class="panel-body">
    <% if @archive_records.present? %>
      <div class="table-responsive">
        <table class="table table-striped datatable">
          <thead>
            <tr>
              <th scope="col"><%= t('hyrax_archivematica.id') %></th>
              <td scope="col" class="nosort"></td>
              <th scope="col"><%= t('hyrax_archivematica.status') %></th>
              <th scope="col"><%= t('hyrax_archivematica.created') %></th>
              <th scope="col"><%= t('hyrax_archivematica.updated') %></th>
              <th scope="col"><%= t('hyrax_archivematica.files') %></th>
              <th scope="col"><%= t('hyrax_archivematica.files_checksum') %></th>
              <th scope="col"><%= t('hyrax_archivematica.metadata_checksum') %></th>
              <th scope="col"><%= t('hyrax_archivematica.transfer_uuid') %></th>
              <th scope="col"><%= t('hyrax_archivematica.ingest_uuid') %></th>
            </tr>
          </thead>
          <tbody>
            <% @archive_records.each do |archive_record| %>
              <tr>
                <th scope="row"><%= archive_record.id %></th>
                <td class="ha <%= "ha_#{archive_record.archive_status}" %>"><span class="fa fa-lock" aria-hidden="true"></span></td>
                <td class="ha <%= "ha_#{archive_record.archive_status}" %>"><%= t("hyrax_archivematica.#{archive_record.archive_status}") %></td>
                <td><%= archive_record.created_at %></td>
                <td><%= archive_record.updated_at %></td>
                <td><%= archive_record.file_set_ids %></td>
                <td><%= archive_record.files_hash.truncate(16) %></td>
                <td><%= archive_record.metadata_hash.truncate(16) %></td>
                <td><%= archive_record.transfer_uuid %></td>
                <td><%= aip_url archive_record %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
        <p>No archives of this work have been created.</p>
      <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
    $('.datatable').DataTable({
      destroy: true,
      'columnDefs': [
          { 'orderable': false, 'targets': [1, 5, 6, 7, 8, 9] }
      ],
      'language': {
        'info': 'Showing _START_ to _END_ of _TOTAL_ archive records',
        'infoEmpty': 'No archive records to show',
        'infoFiltered': '(filtered from _MAX_ total archive records)',
        'lengthMenu': 'Show _MENU_ archive records'
      }
    })
  })
</script>
